/* Contenedor principal */
.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  /* Tarjeta de Login */
  .loginCard {
    padding: 2rem;
    border-radius: 10px;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  /* Botón */
  .loginButton {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
  }
  