/* Contenedor */
.registerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Tarjeta de registro */
  .registerCard {
    padding: 2rem;
    border-radius: 10px;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  /* Botón */
  .registerButton {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
  }
  